.d1{
   
    display: flex;
    justify-content: center;
    row-gap: 30px ;
    column-gap: 30px ;



}
.d2{
    warp
   width: 200px;
   height: 200px ;
   display: flex;

}

.d3{
   margin-top: 30px;
    display: flex;
    justify-content: center;
    row-gap: 30px ;
    column-gap: 30px ;



}
.d4{
    warp 
   width: 200px;
   height: 200px ;
   display: flex;

}

